<div class="auth-container">
    <div class="auth-form">
      <h2 class="auth-form__title">Registro</h2>
  
      <form (ngSubmit)="register()" #registerForm="ngForm" class="auth-form__form">
        <div class="auth-form__group">
          <label for="name" class="auth-form__label">Nombre de Usuario</label>
          <input type="text" id="name" name="name" class="auth-form__input" required [(ngModel)]="registerData.name" #nameInput="ngModel">
            @if(nameInput.invalid && (nameInput.dirty || nameInput.touched)) {
              <div class="auth-form__error">
                  @if (nameInput.errors?.['required']) {
                       <div>El nombre de usuario es requerido.</div>
                  }
              </div>
            }
        </div>
  
  
        <div class="auth-form__group">
          <label for="password" class="auth-form__label">Contraseña</label>
          <input type="password" id="password" name="password" class="auth-form__input" required [(ngModel)]="registerData.password" #passwordInput="ngModel">
             @if(passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)) {
              <div class="auth-form__error">
                  @if (passwordInput.errors?.['required']) {
                      <div>La contraseña es requerida.</div>
                  }
              </div>
          }
        </div>
        
        <div class="auth-form__group">
            <label for="role" class="auth-form__label">Rol</label>
            <select id="role" name="role" class="auth-form__input" required [(ngModel)]="registerData.role" #roleInput="ngModel">
              <option value="" disabled selected>Seleccionar Rol</option>
              <option value="USER">Usuario</option>
              <option value="ADMIN">Administrador</option>
            </select>
              @if (roleInput.invalid && (roleInput.dirty || roleInput.touched)) {
                <div class="auth-form__error">
                    @if (roleInput.errors?.['required']) {
                        <div>El rol es requerido.</div>
                    }
                </div>
            }
          </div>


        <button type="submit" class="auth-form__button" [disabled]="registerForm.invalid">Registrar</button>
      </form>
      <p class="auth-form__link">
        ¿Ya tienes una cuenta? <span class="auth-form__link-button" (click)="login()" role="button">Iniciar Sesión</span>
      </p>
        @if (errorMessage) {
            <div class="auth-form__message auth-form__message--error">
             {{ errorMessage }}
          </div>
        }
    </div>
  </div>