<div class="account-form-container">
    <h2> {{ accountNumber ? 'Actualizar Cuenta' : 'Crear Cuenta' }} </h2>
    <form (ngSubmit)="submitForm()" #accountForm="ngForm" class="account-form">
        <div class="account-form__group">
            <label for="accountNumber" class="account-form__label">Número de Cuenta</label>
            <input type="text" id="accountNumber" name="accountNumber" class="account-form__input" required
                [(ngModel)]="accountData.accountNumber" #accountNumberInput="ngModel" [readonly]="accountNumber">
            @if(accountNumberInput.invalid && (accountNumberInput.dirty || accountNumberInput.touched)) {
            <div class="account-form__error">
                @if (accountNumberInput.errors?.['required']) {
                <div>El número de cuenta es requerido.</div>
                }
            </div>
            }
        </div>
        <div class="account-form__group">
            <label for="initialBalance" class="account-form__label">Saldo Inicial</label>
            <input type="number" id="initialBalance" name="initialBalance" class="account-form__input" required
                [(ngModel)]="accountData.initialBalance" #initialBalanceInput="ngModel">
            @if(initialBalanceInput.invalid && (initialBalanceInput.dirty || initialBalanceInput.touched)) {
            <div class="account-form__error">
                @if (initialBalanceInput.errors?.['required']) {
                <div>El saldo inicial es requerido.</div>
                }
            </div>
            }
        </div>
        <div class="account-form__group">
            <label for="owner" class="account-form__label">Propietario</label>
            <input type="text" id="owner" name="owner" class="account-form__input" required
                [(ngModel)]="accountData.owner" #ownerInput="ngModel">
            @if(ownerInput.invalid && (ownerInput.dirty || ownerInput.touched)) {
            <div class="account-form__error">
                @if (ownerInput.errors?.['required']) {
                <div>El propietario es requerido.</div>
                }
            </div>
            }
        </div>
        @if (errorMessage) {
        <div class="auth-form__message auth-form__message--error">
            {{ errorMessage }}
        </div>
        }
        <button type="submit" class="account-form__button" [disabled]="accountForm.invalid">
            {{ accountNumber ? 'Actualizar Cuenta' : 'Crear Cuenta' }}
        </button>
    </form>
</div>