<div class="invoice">
    <div class="invoice__header">
      <div class="invoice__number">#{{ transactionNumber }}</div>
    </div>
    <div class="invoice__details">
      <div class="invoice__section">
        <div class="invoice__section--title">Transaction Date:</div>
        <div class="invoice__section--value">{{ transaction.date | date: "medium" }}</div>
        <div class="invoice__section--title">Account:</div>
        <div class="invoice__section--value">{{ accountNumber }}</div>
        <div class="invoice__section--title">Type:</div>
        <div class="invoice__section--value">{{ transaction.transactionType }}</div>
      </div>
    </div>
    <table class="invoice__table" aria-label="Transaction Details">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Cost</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.transactionCost }}</td>
          @if (
            transaction.transactionType == TransactionType.BRANCH_DEPOSIT ||
            transaction.transactionType == TransactionType.ATM_DEPOSIT ||
            transaction.transactionType == TransactionType.OTHER_ACCOUNT_DEPOSIT
          ) {
          <td>{{ transaction.amount - transaction.transactionCost }}</td>
          } @else {
          <td>{{ transaction.amount + transaction.transactionCost }}</td>
          }
        </tr>
      </tbody>
    </table>
    <div class="invoice__total">
      @if (
        transaction.transactionType == TransactionType.BRANCH_DEPOSIT ||
        transaction.transactionType == TransactionType.ATM_DEPOSIT ||
        transaction.transactionType == TransactionType.OTHER_ACCOUNT_DEPOSIT
      ) {
      <div class="invoice__total--subtotal">
        <span>Sub total:</span>
        <span>{{ transaction.amount - transaction.transactionCost }}</span>
      </div>
      <div class="invoice__total--total">
        <span>Total:</span>
        <span>{{ transaction.amount - transaction.transactionCost }}</span>
      </div>
      } @else {
      <div class="invoice__total--subtotal">
        <span>Sub total:</span>
        <span>{{ transaction.amount + transaction.transactionCost }}</span>
      </div>
      <div class="invoice__total--total">
        <span>Total:</span>
        <span>{{ transaction.amount + transaction.transactionCost }}</span>
      </div>
      }
    </div>
  </div>