@if (showLoader) {
<app-loader></app-loader>
}
@if (account) {
<div class="summary" aria-label="Account Summary Information">
    <app-sumary-card class="summary__card" [title]="'owner'" [value]="account.owner"
        [description]="'Acc. number: ' + account.accountNumber" imageType="image" image="assets/images/user-1.jpg"
        tabindex="0" aria-label="Owner Summary Card"></app-sumary-card>

    <app-sumary-card class="summary__card" title="Current Balance" [value]="'$'+account.balance"
        [description]="account.status" imageType="icon" icon="assets/images/cash.svg" tabindex="0"
        aria-label="Current Balance Summary Card"></app-sumary-card>

    <app-sumary-card class="summary__card" title="Transactions" [value]="transactions.length"
        description="#Transactions" imageType="icon" icon="assets/images/view_transaction.svg" tabindex="0"
        aria-label="Transaction Summary Card"></app-sumary-card>
</div>
<div class="container-with-info" aria-label="Account Details and Actions">
    <app-account-info class="card" [title]="account.owner" [image]="'assets/images/user-1.jpg'" imageType="image"
        [imageAlt]="'User Image'"
        [actions]="[{label: 'Edit Account', handler: openEditModal.bind(this)}, {label:'Create Transaction', handler: openTransactionForm.bind(this)}]"
        [details]="[
                { label: 'Account Number', value: account.accountNumber },
                { label: 'Balance', value: '$'+account.balance },
                { label: 'Status', value: account.status }
               ]" tabindex="0" aria-label="Account Information Card">
    </app-account-info>
    <app-account-info class="card" [title]="'Transaction Costs'" [details]="transactionOptions" [showActions]="false"
        tabindex="0" aria-label="Transaction Costs Information Card">
    </app-account-info>
</div>

<div class="invoice-container" aria-label="Transactions List">
    @for (transaction of displayedTransactions; track transaction.transactionId; let i = $index) {
    <app-transaction-card class="invoice-container__item" [transaction]="transaction"
        [accountNumber]="account.accountNumber" [transactionNumber]="(currentPage - 1) * itemsPerPage + i + 1"
        tabindex="0" aria-label="Transaction Card"></app-transaction-card>
    }
</div>
@if(transactions && transactions.length > itemsPerPage) {
<div class="pagination" aria-label="Pagination Controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1" aria-label="Previous Page">Previous</button>
    <span aria-live="polite">Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" aria-label="Next Page">Next</button>
</div>
}

} @else {
<div class="profile-card" aria-label="No account details" tabindex="0">
    <p>No account details found</p>
</div>
}

@if (showEditModal) {
<app-modal [accountNumber]="accountNumber" (close)="closeEditModal()"></app-modal>
}

@if (showTransactionForm) {
<app-modal [balance]="balance" [accountNumber]="accountNumber" (close)="closeTransactionForm()"></app-modal>
}