<main class="auth-container">
    <div class="auth-form">
        <h1 class="auth-form__title">Registro</h1>
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="auth-form__form">
            <div class="auth-form__group">
                <label for="username" class="auth-form__label">Nombre de Usuario</label>
                <input type="text" id="username" formControlName="username" class="auth-form__input" aria-describedby="username-error" >
                @if(nameControl?.invalid && (nameControl?.dirty || nameControl?.touched)) {
                <div class="auth-form__error" id="username-error">
                    @if (nameControl?.errors?.['required']) {
                    <div>El nombre de usuario es requerido.</div>
                    }
                </div>
                }
            </div>
            <div class="auth-form__group">
                <label for="password" class="auth-form__label">Contraseña</label>
                <input type="password" id="password" formControlName="password" class="auth-form__input" aria-describedby="password-error" >
                @if(passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched)) {
                <div class="auth-form__error" id="password-error">
                    @if (passwordControl?.errors?.['required']) {
                    <div>La contraseña es requerida.</div>
                    }
                </div>
                }
            </div>
             <div class="auth-form__group">
                <label for="roles" class="auth-form__label">Rol</label>
                <select id="roles" formControlName="roles" class="auth-form__input" aria-describedby="role-error">
                    <option value="" disabled selected>Seleccionar Rol</option>
                    <option value="USER">Usuario</option>
                    <option value="ADMIN">Administrador</option>
                </select>
                  @if (roleControl?.invalid && (roleControl?.dirty || roleControl?.touched)) {
                    <div class="auth-form__error" id="role-error">
                        @if (roleControl?.errors?.['required']) {
                            <div>El rol es requerido.</div>
                        }
                    </div>
                }
            </div>
            <button type="submit" class="auth-form__button" [disabled]="registerForm.invalid">Registrar</button>
        </form>
        <p class="auth-form__link">
            ¿Ya tienes una cuenta? <a class="auth-form__link-button" (click)="login()">Iniciar Sesión</a>
        </p>
        @if (errorMessage) {
            <div class="auth-form__message auth-form__message--error" aria-live="polite">
             {{ errorMessage }}
          </div>
        }
    </div>
  </main>