<div class="auth-container">
    <div class="auth-form">
      <h2 class="auth-form__title">Iniciar Sesión</h2>
  
      <form (ngSubmit)="login()" #loginForm="ngForm" class="auth-form__form">
        <div class="auth-form__group">
          <label for="username" class="auth-form__label">Nombre de Usuario</label>
          <input type="text" id="username" name="username" class="auth-form__input" required [(ngModel)]="loginData.username" #usernameInput="ngModel">
          @if (usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)) {
              <div class="auth-form__error">
                  @if (usernameInput.errors?.['required']) {
                     <div>El nombre de usuario es requerido.</div>
                  }
                  @if (usernameInput.errors?.['username']) {
                      <div>El username no es válido.</div>
                  }
              </div>
          }
        </div>
  
        <div class="auth-form__group">
          <label for="password" class="auth-form__label">Contraseña</label>
          <input type="password" id="password" name="password" class="auth-form__input" required [(ngModel)]="loginData.password" #passwordInput="ngModel">
          @if (passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)) {
              <div class="auth-form__error">
                  @if (passwordInput.errors?.['required']) {
                       <div>La contraseña es requerida.</div>
                  }
              </div>
          }
        </div>
  
        <button type="submit" class="auth-form__button" [disabled]="loginForm.invalid">Iniciar Sesión</button>
      </form>
      <p class="auth-form__link">
        ¿No tienes una cuenta? <span class="auth-form__link-button" (click)="register()" role="button">Regístrate</span>
      </p>
        @if (errorMessage) {
            <div class="auth-form__message auth-form__message--error">
             {{ errorMessage }}
          </div>
        }
    </div>
  </div>