<div class="summary">
    <div class="summary__content">
        <h3 class="summary__title">{{ title }}</h3>
        <div class="summary__value">
            @if (isNumber(value)) {
            <span>${{value}}</span>
            } @else {
            <span>{{value}}</span>
            }
        </div>
        <span class="summary__description">{{ description }}</span>
    </div>

    @if (imageType === 'image' && image) {
    <div class="summary__image">
        <img [src]="image" alt="Summary Image" />
    </div>
    }

    @if (imageType === 'icon' && icon) {
    <div class="summary__icon">
        <img [src]="icon" alt="Summary Icon" />
    </div>
    }
</div>