<div class="auth-container">
    <div class="auth-form">
        <h2 class="auth-form__title">{{ title }}</h2>
        <form (ngSubmit)="onSubmit($event)" class="auth-form__form">
        <ng-content></ng-content>
        </form>
        <p class="auth-form__link">
            {{linkText}}
             <span class="auth-form__link-button" (click)="onChangeView()" role="button">{{ linkButtonText }}</span>
        </p>
          @if (errorMessage) {
              <div class="auth-form__message auth-form__message--error">
               {{ errorMessage }}
            </div>
          }
    </div>
</div>