<div class="account-form-container">
    <h2> {{ accountNumber ? 'Update Account' : 'Create Account' }} </h2>
      <form [formGroup]="accountForm" (ngSubmit)="submitForm()" class="account-form">
        <div class="account-form__group">
          <label for="accountNumber" class="account-form__label">Account Number</label>
            <input type="text" id="accountNumber" class="account-form__input" formControlName="accountNumber" [readonly]="accountNumber ? true : false">
            @if(accountForm.get('accountNumber')?.invalid && (accountForm.get('accountNumber')?.dirty || accountForm.get('accountNumber')?.touched)) {
              <div class="account-form__error">
                @if (accountForm.get('accountNumber')?.errors?.['required']) {
                   <div>The account number is required.</div>
                 }
              </div>
           }
        </div>
          <div class="account-form__group">
             <label for="initialBalance" class="account-form__label">Initial Balance</label>
              <input type="number" id="initialBalance" class="account-form__input" formControlName="initialBalance">
              @if(accountForm.get('initialBalance')?.invalid && (accountForm.get('initialBalance')?.dirty || accountForm.get('initialBalance')?.touched)) {
                  <div class="account-form__error">
                    @if (accountForm.get('initialBalance')?.errors?.['required']) {
                       <div>The initial balance is required.</div>
                     }
                  </div>
             }
          </div>
        <div class="account-form__group">
          <label for="owner" class="account-form__label">Owner</label>
            <input type="text" id="owner" class="account-form__input" formControlName="owner">
              @if(accountForm.get('owner')?.invalid && (accountForm.get('owner')?.dirty || accountForm.get('owner')?.touched)) {
                <div class="account-form__error">
                  @if (accountForm.get('owner')?.errors?.['required']) {
                   <div>The owner is required.</div>
                   }
                 </div>
             }
          </div>
        @if (errorMessage) {
          <div class="form__message form__message--error">
           {{ errorMessage }}
         </div>
         }
        <button type="submit" class="account-form__button" [disabled]="accountForm.invalid">
          {{ accountNumber ? 'Update Account' : 'Create Account' }}
         </button>
      </form>
  </div>