.account-details-container {
    padding: 20px;

     h2 {
        margin-bottom: 20px;
        color: #333;
    }

    .account-details {
        display: flex;
        gap: 20px;
         .account-details__info{
          flex: 1;
         }
          .account-details__transactions{
          flex: 2;
        }
        &__update-button{
             background-color: #007bff;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
             margin-top: 10px;

            &:hover {
               background-color: #0056b3;
            }
        }
        &__transaction-button{
             background-color: #28a745;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
             margin-top: 10px;

            &:hover {
              background-color: #218838;
            }
        }
    }
   .account-details-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    }

}