<!-- Tu componente principal .html -->

@if (showLoader) {
<app-loader></app-loader>
}
@if (account) {
<div class="summary">
    <app-sumary-card class="summary__card" [title]="'owner'" [value]="account.owner"
        [description]="'Acc. number: ' + account.accountNumber" imageType="image"
        image="assets/images/user-1.jpg"></app-sumary-card>

    <app-sumary-card class="summary__card" title="Current Balance" [value]="account.balance"
        [description]="account.status" imageType="icon" icon="assets/images/cash.svg"></app-sumary-card>

    <app-sumary-card class="summary__card" title="Transactions" [value]="transactions.length"
        description="#Transactions" imageType="icon" icon="assets/images/view_transaction.svg"></app-sumary-card>
</div>
<div class="container-with-info">
    <app-account-info class="card" [title]="account.owner" [image]="'assets/images/user-1.jpg'" imageType="image"
        [actions]="[{label: 'Edit Account', handler: openEditModal.bind(this)}, {label:'Create Transaction', handler: openTransactionForm.bind(this)}]"
        [details]="[
            { label: 'Account Number', value: account.accountNumber },
            { label: 'Balance', value: '$'+account.balance },
            { label: 'Status', value: account.status }
           ]"></app-account-info>
    <app-account-info class="card" [title]="'Transaction Costs'" [details]="[
             { label: 'Depósito desde sucursal', value: '0$' },
              { label: 'Depósito desde cajero automático', value: '1$' },
             { label: 'Depósito desde otra cuenta', value: '1.5$' },
              { label: 'Compra en establecimiento físico', value: '0$' },
            { label: 'Compra con tarjeta en página web', value: '5$' },
             { label: 'Retiro en cajero automático', value: '1$' }
          ]" [showActions]="false"></app-account-info>
</div>

<div class="invoice-container">
    @for (transaction of displayedTransactions; track transaction.transactionId; let i = $index) {
    <app-transaction-card class="invoice-container__item" [transaction]="transaction"
        [accountNumber]="account.accountNumber"
        [transactionNumber]="(currentPage - 1) * itemsPerPage + i + 1"></app-transaction-card>
    }
</div>
@if(transactions && transactions.length > itemsPerPage) {
<div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
}

} @else {
<div class="profile-card">
    <p>No se encontraron detalles de la cuenta</p>
</div>
}

@if (showEditModal) {
<app-modal  [accountNumber]="accountNumber" (close)="closeEditModal()"></app-modal >
}

@if (showTransactionForm) {
<app-modal  [balance]="balance" [accountNumber]="accountNumber"
    (close)="closeTransactionForm()"></app-modal >
}