<div class="transaction-list-container">
    <h2>Lista de Transacciones</h2>
    <div class="transaction-list-filters">
        <label for="accountNumber">Número de Cuenta:</label>
        <input type="text" id="accountNumber" [(ngModel)]="selectedAccountNumber" />
          <button class="transaction-list-button" (click)="searchByAccountNumber()">Buscar</button>
    </div>

   <app-table [headers]="['transactionType', 'amount','transactionCost', 'date']" [data]="transactions" noDataMessage="No hay transacciones para mostrar"></app-table>
</div>