<div class="container" aria-label="Transactions List">
    <h2>Transactions List</h2>
    <div class="container__filters">
        <label for="accountNumber">Account number:</label>
        <input type="text" id="accountNumber" [(ngModel)]="selectedAccountNumber" />
          <button class="container__filters--button" (click)="searchByAccountNumber()">Search</button>
    </div>
   <app-table [headers]="['transactionType', 'amount','transactionCost', 'date']" [data]="transactions" noDataMessage="No hay transacciones para mostrar"></app-table>
</div>