<div class="account-details-container">
    <h2>Detalles de la Cuenta</h2>
    @if(account) {
      <div class="account-details">
          <form [formGroup]="accountForm" class="account-details__info">
               <div class="account-details__group">
                   <label class="account-details__label" for="accountNumber">Número de Cuenta:</label>
                  <input type="text" class="account-details__input" formControlName="accountNumber" id="accountNumber" readonly>
              </div>
             <div class="account-details__group">
                  <label class="account-details__label" for="owner">Propietario:</label>
                  <input type="text" class="account-details__input" formControlName="owner" id="owner" readonly>
              </div>
             <div class="account-details__group">
               <label class="account-details__label" for="balance">Saldo Inicial:</label>
                   <input type="number" class="account-details__input" formControlName="balance" id="balance" readonly>
              </div>
              @if (accountForm.get('customerId')?.value) {
              <div class="account-details__group">
                   <label  class="account-details__label" for="customerId">Customer Id:</label>
                  <input type="text"  class="account-details__input" formControlName="customerId" id="customerId" readonly>
              </div>
              }
          </form>
      </div>
      } @else {
      <p>Cargando información de la cuenta...</p>
      }
      <app-transaction-modal *ngIf="showTransactionModal" [accountNumber]="account?.accountNumber ?? null" (close)="closeTransactionModal()"></app-transaction-modal>
      <app-account-modal *ngIf="showUpdateModal" [accountNumber]="account?.accountNumber ?? null"
          (close)="closeUpdateModal()"></app-account-modal>
  </div>