<div class="custom-table-container" [class]="customClass">
    @if(data && data.length > 0){
    <table class="custom-table">
        <thead>
            <tr>
                @for (header of headers; track header) {
                    <th>{{ header }}</th>
                }
                 @if (actions && actions.length > 0) {
                  <th>Acciones</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (item of data; track item; let i = $index) {
                <tr>
                    @for (header of headers; track header) {
                         @if(header === 'date') {
                            <td>{{item[header] | date: 'medium'}}</td>
                        } @else {
                           <td>{{ item[header] }}</td>
                        }
                    }
                     @if (actions && actions.length > 0) {
                     <td>
                        @for(action of actions; track action) {
                       <button class="{{action.label.toLowerCase().replace(' ','-')}}-button" (click)="onActionClick(action.handler,item)">{{action.label}}</button>
                        }
                    </td>
                  }
                </tr>
            }
        </tbody>
    </table>
} @else {
  <p>{{noDataMessage}}</p>
}
</div>